# Ignore raw data and preprocessed frames
data/raw/
data/processed/
debug_frames/
debug_train_frames/
saved_models copy/
samples/
export_onnx.py
visualize_dynamic_processing.py
saved_models/*
!saved_models/best_model.pth

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/